BeautifulSoup==3.2.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
beautifulsoup4==4.3.2
gunicorn==19.1.1
html5lib==0.999
itsdangerous==0.24
git+https://github.com/kartikprabhu/mf2py@d44a49f7de2060cee719463df27b46cdd97c30f0
microdata==0.5.1
redis==2.10.3
requests==2.4.3
six==1.8.0
uWSGI==2.0.8
wsgiref==0.1.2
